:root{
    --backgroundSection : #2453A7;
    --colorDj : #874CCC;
}

html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
}

div::-webkit-scrollbar{
    display: none;
}


body{
    font-family: 'Poppins',sans-serif;
    font-size: 18px;

    /* height: 100vh; */
    /* overflow: hidden; */
    min-width: 380px;
    background-color: white;
}

header {
    z-index: 2;
    background-color: var(--backgroundSection);
    border-bottom: 1px solid white;
    display: grid;
    align-items: center;
    padding:10px;
}

header > nav {
    display: flex;
    justify-content: space-between;
    align-items: center;    
    /* position: relative; */
}

header > nav > h2{
    font-family: "La Belle Aurore", cursive;
    font-weight: normal;
    font-style:italic;
    letter-spacing: 1px;
    color: white;
    font-size: 1.5em;
    /* position: absolute;
    left: 0;
    top: -5px; */
}

header > nav > .menuPage > a{
    margin-right: 80px;
}

.menuPage > a{
    text-decoration: none;
    font-size: 18px;
    color: white;
}

/* hamburger */

.hamburgerMenu{
    z-index: 20;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(124, 0, 219,50%);

}

.hamburgerMenu > .menuPage{
    padding: 20px;
    display: grid;
    place-items: center;
    position: relative;
    display: none;
}

.hamburgerMenu > .menuPage > a:not(:first-child){
    margin-top: 20px;
}

.hamburgerMenu > .menuPage > a{
    font-size: clamp(10px,1.3em,1.8em);
    border-bottom: 1px solid white;
}

input[id="hamburgerMenu"]{
    display: none;
}

input[id="hamburgerMenu"]:checked + .menuPage{
    display: none;
}

/* hamburger */

/* serpihan kaca */

.serpihanKaca{
    width: 100%;
    position: absolute;
}


.kaca{
    --lebarKaca : 20px;
    width: var(--lebarKaca);
    height: var(--lebarKaca);
    background-color: white;
    opacity: .3;
    border-radius: 100%;
    position: absolute;
    animation: hujanKaca 10s linear  infinite, rotateGemoyBallDj 8s linear  infinite forwards;
    top: -20vh;
}

.serpihanKaca2 > .kaca{
   animation-duration: 15s;
}
.serpihanKaca3 > .kaca{
   animation-duration: 30s;
}



.kaca:first-child{
    left: 30vw;
    animation-delay: 200ms;
}
.kaca:nth-child(2){
    left: 50vw;
    animation-delay: 800ms;
}
.kaca:nth-child(3){
    left: 60vw;
    animation-delay: 100ms;
}
.kaca:nth-child(4){
    left: 14vw;
    animation-delay: 400ms;
}
.kaca:nth-child(4){
    left: 80vw;
}
.kaca:nth-child(5){
    left: 20vw;
    animation-delay: .3s;
}
.kaca:nth-child(6){
    left: 5vw;
    animation-delay: .7s;
}


@keyframes hujanKaca{
    from{
        top: -20vh;
    }
    to{
        top: 100vmax;
    }
}




/*  */

/* tooogle hamburger */

.toggle-open{
    width: 50px;
    height: 4px;
    background-color: white;
    border-radius: 4px;
    position: relative;
    cursor: pointer;
    margin-right: 20px;
    display: none;
}

.toggle-open::after{
    bottom: -10px;
}

.toggle-open::before{
    top: -10px;
}


.toggle-open::after,
.toggle-open::before{
    content: '';
    width: 50px;
    height: 100%;
    background-color: white;
    border-radius: 4px;
    position: absolute;
    cursor: pointer;
}

.toggle-close{
    padding: 10px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.toggle-hamburger{
    color: white;
    font-size: clamp(1.5rem,2.5rem,4rem);
}
/* tooogle hamburger */

/*  Arrow Up */

.arrow-up{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: hsl(0, 0%, 90%);
    z-index: 99;

    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.arrow-up::after{
    content: '^';
    font-size: 20px;
}

/*  */
section {
    background-color: var(--backgroundSection);
}
/* section hero */

.hero{
    min-width: 300px;
    padding: 10px;
    display: flex;
    align-items: center;
    height: 85vh;
}

.sideLeft{
    color: white;
    position: relative;
    z-index: 2;
    margin-left: 80px;
    scale: 1.23;
}

.sideLeft >:nth-child(4){
   margin: 15px 0;
}

.sideLeft > :nth-child(1){
    font-size: clamp(1.5em, 1.7em,2em);
}

.sideLeft > :nth-child(3){
    font-size: clamp(16.6px,17px,18px);
    max-width: 400px ;
}

.sideLeft > :nth-child(5) {
    display: flex;
    gap: 10px;
}


.sideLeft > :nth-child(5) > button{
   width: min(160px,180px);
   height: 40px;
   /* padding: 10px; */
   border-radius: 10px;
   border:none;
   background-color: transparent ;
   box-shadow: 0 0 4px white;
   cursor: pointer;
}

.sideLeft > :nth-child(5) > button:not(:first-child){
    border: 1px solid white;
    box-shadow: none;
}

.sideLeft > :nth-child(5) > button > a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.sideLeft img[src="./img/Social Media Image Portfolio/Arrow Right.png"]{
    position: absolute;
    height: 100%;
    top: 0;
    left: 10px;
    z-index: -1;
}


.socialMedia{
    width: 50%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.socialMedia img{
   height: 30px;
   object-fit: cover;
}

.socialMedia img[src="./img/Social Media Image Portfolio/LinkedIn.png"]{
   height: 50px;
   object-fit: cover;
}

.sideRight {
    position: relative;
    width: 50%;
}


.ellipse{
    display: none;
    --sizeBall : 300px;
    position: absolute;
    right: 20px;
    bottom: -150px;
    width:var(--sizeBall);
    height: var(--sizeBall);
    background-color: var(--colorDj);
    border-radius: 50%;
    /* opacity: .6; */
    filter: drop-shadow(0 0 30px #7C00DB);
    box-shadow:0 0 30px #7C00DB ;
    
    /* rotateGemoyBallDj 1s linear  infinite forwards */
}

.sideRight > .ellipseDj::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--colorDj);
    opacity: .8;
    filter: drop-shadow(0 0 30px #7C00DB);
    box-shadow:0 0 30px #7C00DB ;
}

.sideRight > .ellipseDj{
    animation: gemoyBallDj 250ms linear  infinite forwards alternate , rotateGemoyBallDj 4s linear  infinite forwards;
}

.gelombang{
    width: 100px;
    height: 200px;
    
    border-radius: 50%;
    border-radius: 20px;
    border-top-left-radius: 50%;
    border-top-right-radius: 80%;

    transform: rotateZ(-40deg);
    
    background-color: var(--colorDj);
    opacity: .6;
    filter: drop-shadow(0 0 30px #7C00DB);
    box-shadow:0 0 30px #7C00DB ;
    position: absolute;
    z-index: -1;
    filter: blur(5px);
}

.gelombang:nth-child(1){
    top: -40px;
    left: 0;
}

.gelombang:nth-child(2){
    right: 0;
    top: -40px;
    transform: rotateZ(30deg);
}
.gelombang:nth-child(3){
    bottom: -80px;
    left: -20px;
    transform: rotateZ(-130deg);
}
.gelombang:nth-child(4){
    bottom: -80px;
    right: -20px;
    transform: rotateZ(130deg);
}

@keyframes gemoyBallDj{
    from{
        scale: .7;
    }
    to{
        scale: 1;
    }
}
@keyframes rotateGemoyBallDj{
    from{
        rotate: 0deg;
    }
    to{
        rotate: 360deg;
    }
}


/*  */

/* About-me Section */

.about-me{
    color: white;
    box-sizing: border-box;
    z-index: 2;
    
    position: relative;
    overflow: hidden;
}

.bar{
    background-color: #132d5a;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    position: absolute;
}

.bar:first-child{
    top: 0;
}
.bar:nth-child(2){
   bottom: 0;
}


.about-me > main{
    margin-top: 50px;
    padding-bottom: 20px;
}

.about-me > main > h2{
    margin-bottom: 20px;
    font-size: 1.2rem;
}

.about-me > main,
.about-me > main > .profile{
    display: grid;
    place-items: center;
}
.about-me > main > .profile{
    gap: 10px;
    position: relative;
}

.about-me > main > .profile > .profile-img{
   background-image: url(./img/profile/wildan2.png);
   transform: rotateY(180deg);
   width: 200px;
   height: 200px;
   border-bottom-left-radius: 100%;
   border-bottom-right-radius: 80%;
   background-position: center;
   background-size: cover;

    filter:drop-shadow(2px 3px 5px #b458d0);
    /* box-shadow:  ; */

   position: relative;
   right: 10px;
}

.about-me > main > .profile > :last-child{
    max-width: 400px;
    padding: 20px;
    font-size: clamp(12px,14px,16px);
    text-align: center;
}

.about-me > main > .socialMedia{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.about-me > main > :last-child{
    padding: 10px;
}


.about-me > .sudut > img[src="./img/Social Media Image Portfolio/Arrow Right.png"]{
   height: 140px;
   z-index: -1;
    
}


.about-me > .sudut > img:nth-child(1){
    position: absolute;
    top: -10px;
    left: -20px;
    transform: rotateZ(45deg);
}
.about-me > .sudut > img:nth-child(2){
    position: absolute;
    top: -10px;
    right: -30px;
    transform: rotateZ(135deg);
}
.about-me > .sudut > img:nth-child(3){
    position: absolute;
    bottom: -10px;
    left: -30px;
    transform: rotateZ(-45deg);
}
.about-me > .sudut > img:nth-child(4){
    position: absolute;
    bottom: -10px;
    right: -30px;
    transform: rotateZ(-135deg);
}

.triangle-wrapper{
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-color: red; */
    bottom: 0;
    z-index: -2;
    overflow: hidden;
}

.triangle{
    width: 100px;
    height: 100px;

    position: absolute;
    top: -200%;

    background-color: white;
    opacity: .1;
    clip-path: polygon(50% 0%, 0% 100%, 100% 42%);

    animation: TriangleGoDown 15s infinite , TriangleScale 4s infinite alternate-reverse,TriangleRotateZ 3s infinite normal linear;

}


.triangle:nth-child(1){
    left: 2px;
    animation-delay: 200ms;
}
.triangle:nth-child(2){
    left: 20vw;
    animation-delay: 1.3s;
}
.triangle:nth-child(3){
    left: 40vw;
    animation-delay: 3s;

}
.triangle:nth-child(4){
    left: 50vw ;
    animation-delay: 2s;

}
.triangle:nth-child(5){
    left: 70vw ;
    animation-delay: 2.4s;

}

/*  */

/* Section Project */

/* latest Project */

.latest-project{
    color: white;
    font-size: 12px;
    padding: 20px;
}

.latest-project > h2{
    margin:  30px 0;
    font-size: 30px;
}

.wrapper-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}

.card {
    border-radius: 10px;
    min-width: 300px;
    width: 300px;
    padding: 5px;
    /* background-color: white; */
    /* justify-content: space-between; */
    color: white;
    text-align: center;
}

.card > h2{
    margin-top: 20px;
}

.card > img{
    /* border-top-right-radius: 10px;
    border-top-left-radius: 10px; */
    width: 80%;
    height: 200px;
    object-fit: cover;

    border-radius: 15px;
    box-shadow:  0 0 5px white;
}

.card  > p {
    margin : 20px 0;
    font-size: clamp(12px,13px,14px);
}

.card > button{
    width: 200px;
    height: 35px;
    padding: 8px;
    border-radius: 20px;
    background-color: var(--backgroundSection);
    color: white;
    border: none;
    box-shadow: 0 0 5px white;
    cursor: pointer;
}

.card > button > a{
    color: white;
    text-decoration: none;
}

.card > button:hover{
    box-shadow:  0 0 5px 2px var(--colorDj);
}

/*  */

/* gallery project section */

.gallery-project {
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    /* display: grid;
    justify-items: center;
    align-items: center; */
}

.gallery-project > h2{
    padding: 15px;
    text-align: center;
    color: white;
    font-size: 35px;
}

.gallery-project > :nth-child(3){
    width: 100%;
    color: white;
    font-size: 22px;
    text-align: center;
    position: absolute;
    bottom: 5px;
}



.gallery-project-inside{
    padding: 20px;
    padding-bottom: 30px;
    text-align: center;
}

main > .wrapper-card{
    /* min-width: 300px;
    width: 300px; */
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    gap: 5px;
    /* background-color: red; */
    overflow: hidden;
    overflow-x: scroll;
}



main > .wrapper-card::-webkit-scrollbar{
    width: 0;
}
main > div:nth-child(2),
main > div:nth-child(3){
    display: none;
}

/* .gallery-project-inside > div > a >  img{
    box-shadow: 0 0 5px white;
}

main > .latest > a >  img{
   width: 60%;
   border-radius: 5px;
}

main > .second{
   width: 100%;
}

main > .second > a >  img{
    margin-top: 10px;
  width: 100%;
  height: 200px;
  border-radius: 5px;
  object-fit: cover;
} */
/*  */

/* keyframes */


@keyframes TriangleGoDown {
    from{
        top: -30%;
    }
    to{
        top: 100%;
    }
}

@keyframes TriangleScale{
    from{
        scale: 1.1;
    }
    to{
        scale: .9;
    }
}

@keyframes TriangleRotateZ{
    from{
        transform: rotateZ(0deg);
    }
    to{
        transform: rotateZ(360deg);
    }
}


/* break Media Query */

@media (min-width : 1200px){
    .sideRight > .ellipseDj{
        display: block;
    }


    main > .wrapper-card{
        
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        gap: 5px;
        height: 300px;
        overflow: hidden;
        overflow-y: scroll;
        float: left;
     }
     main > div:nth-child(2),
     .gallery-project :last-child{
        display: flex;
     }
    .gallery-project > :nth-child(3){
        display: none;
    }

   
}

@media (max-width:1200px){
    
    header > nav > .menuPage{
        display: none;
    }

    .hero{
        display: flex;
        justify-content: center;
        align-items: center;
    }


    /* .hero > .sideLeft{

    } */

    .hero > .sideLeft > :last-child{
        opacity: 1;
    }



    .toggle-open{
        display:block;
    }
    input[id="hamburgerMenu"]:not(:checked) + .menuPage{
        display: grid;
    }
    .sideLeft{
        scale: 1;
        margin-left: 10px;
    }

    main > .wrapper-card{
        width: 90%;
        float: none;
     }

    .scroll-horizontal{
        display: flex;
        flex-direction: row !important;
        max-width: 95%;
        overflow: hidden;
        overflow-x: scroll;
    }

}

